<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JHD1S9H328"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-JHD1S9H328');
        </script>
        <title><? block title => 'Soffritto Inc.' ?></title>
    </head>
    <body>
        <h1><a href="/">soffritto.org</a></h1>
        <div class="container">
? block h2 => sub {
            <h2>Soffritto Inc.</h2>
? };

? block content => '';
        </div>
    </body>
</html>
